@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif !important;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

.body_bg {
  background: linear-gradient(170.41deg, #FFFFFF 57.29%, #FFF4E5 86.03%);
}

.progress_bg_gradient {
  background-image: conic-gradient(from -180deg at 50% -250%, #C4A77D, #EDEDED);
}