@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif !important;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

.body_bg {
  /* background: #FFFAF3, linear-gradient(170.41deg, #FFFFFF 57.29%, #FFF4E5 86.03%); */
  background-color: #FFFAF3;
}

.progress_bg_gradient {
  background-image: conic-gradient(from -180deg at 50% -250%, #C4A77D, #EDEDED);
}

.css-1x2wln8-MuiChartsAxis-root-MuiChartsXAxis-root,
.css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root {
  display: none;
}

.MuiChartsTooltip-popper {
  background: transparent !important;
  box-shadow: none !important;
}

.MuiChartsTooltip-root {
  background-color: #D6B588 !important;
  color: white !important;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border: none !important;
}
